<div class="d-flex mb-3">
  <a href="/nagl/drivers/new" target="_blank" class="btn btn-success ms-auto">
    <i class="bi bi-plus-circle me-1"></i> إضافة سائق
  </a>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped results-table">
  <thead class="table-light">
    <tr>
      <th>الرقم</th>
      <th>الاسم</th>
      <th>رقم الهوية</th>
      <th>المنشأة</th>
      <th>تفاصيل</th>
    </tr>
  </thead>
  <tbody>
    <% drivers.forEach(d => { %>
      <tr>
        <td><pre class="codebox"><%= d.DriverID %></pre></td>
        <td><pre class="codebox"><%= d.FirstName %> <%= d.LastName %></pre></td>
        <td><pre class="codebox"><%= d.IdentityNumber || '' %></pre></td>
        <td><pre class="codebox"><%= d.FacilityName || '' %></pre></td>
        <td>
          <a href="/nagl/drivers/<%= d.DriverID %>" class="btn btn-sm btn-outline-secondary btn-icon">
            <i class="bi bi-eye"></i>
          </a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
</div>
