<a href="/nagl/cards/new" class="inline-block mb-2 px-3 py-1 bg-blue-600 text-white rounded"><i class="bi bi-plus"></i> إضافة كرت تشغيل</a>
<div class="table-responsive">
<table class="table table-bordered table-striped table-hover data-table results-table">
  <thead>
    <tr>
      <th>رقم البطاقة</th>
      <th>المركبة</th>
      <th>المنشأة</th>
      <th class="hide-mobile">تاريخ الإصدار</th>
      <th class="hide-mobile">تاريخ الانتهاء</th>
      <th class="hide-mobile">المندوب</th>
      <th>إجراءات</th>
    </tr>
  </thead>
  <tbody>
    <% cards.forEach(c => { %>
      <tr>
        <td><pre class="codebox"><%= c.CardNumber %></pre></td>
        <td><pre class="codebox"><%= c.PlateNumber || '' %></pre></td>
        <td><pre class="codebox"><%= c.Name || '' %></pre></td>
        <td class="hide-mobile"><pre class="codebox"><%= c.IssueDate %></pre></td>
        <td class="hide-mobile"><pre class="codebox"><%= c.ExpirationDate %></pre></td>
        <td class="hide-mobile"><pre class="codebox"><%= c.SupplierName || '' %></pre></td>
        <td>
          <a href="/nagl/cards/<%= c.ID %>/edit" class="px-2 py-1 border text-blue-600 rounded text-sm">تعديل</a>
          <form method="POST" action="/nagl/cards/<%= c.ID %>/delete" style="display:inline">
            <button type="submit" class="px-2 py-1 border text-red-600 rounded text-sm" onclick="return confirm('حذف؟')">حذف</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
</div>
