<div class="d-flex mb-3">
  <a href="/nagl/driver-cards/new" class="btn btn-success ms-auto">
    <i class="bi bi-plus-circle me-1"></i> إضافة بطاقة سائق
  </a>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped data-table results-table">
    <thead class="table-light">
      <tr>
        <th></th>
        <th>رقم البطاقة</th>
        <th>نوع البطاقة</th>
        <th>السائق</th>
        <th>المنشأة</th>
        <th class="hide-mobile">تاريخ الإصدار</th>
        <th class="hide-mobile">تاريخ الانتهاء</th>
        <th class="hide-mobile">المندوب</th>
        <th>إجراءات</th>
      </tr>
    </thead>
    <tbody>
      <% cards.forEach(c => { %>
        <tr>
          <td></td>
          <td><pre class="codebox"><a href="<%= printUrl %>?token=<%= c.token %>" target="_blank"><%= c.CardNumber %></a></pre></td>
        <td><pre class="codebox"><%= c.CardType %></pre></td>
        <td><pre class="codebox"><%= c.FirstName || '' %></pre></td>
        <td><pre class="codebox"><%= c.Name || '' %></pre></td>
        <td class="hide-mobile"><pre class="codebox"><%= c.IssueDate %></pre></td>
        <td class="hide-mobile"><pre class="codebox"><%= c.ExpirationDate %></pre></td>
        <td class="hide-mobile"><pre class="codebox"><%= c.SupplierName || '' %></pre></td>
        <td>
          <a href="/nagl/driver-cards/<%= c.ID %>/edit" class="btn btn-sm btn-outline-primary">تعديل</a>
            <form method="POST" action="/nagl/driver-cards/<%= c.ID %>/delete" class="delete-form" style="display:inline">
              <button type="submit" class="btn btn-sm btn-outline-danger">حذف</button>
            </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
</div>
